* {
	box-sizing: border-box;
	text-decoration: none;
}
a {
	color: #f2f2f2;
	font-family: sans-serif;
}
/* Three image containers (50% for two, 33.33% for 3, use 25% for four, etc) */
.column {
	float: left;
	width: 33.33%;
	padding: 10px; /* was 5*/
}
/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}
h1 {
	color: #f2f2f2;
	font-size: 14px;
	font-family: sans-serif;
}
h2 {
	color: #f2f2f2;
	font-size: 16px;
	font-family: sans-serif;
}
h3 {
	color: #f2f2f2;
	font-size: 18px;
	font-family: sans-serif;
}
p {
	color: #f2f2f2;
	font-size: 12px;
	font-family: sans-serif;
}
basicBox {
	padding: 5px;
	display: block;
}
textAlienCenter {
	text-align: center;
}
img {
	color: white;
	font: 10px;
}
img.resize {
	/*Recipe images resize with window*/
	width: 354px;
	max-width: 100%;
	max-height: 100%;
}
#gifs-rows img {
	cursor: pointer;
}
#gifs-rows .gif-file {
	display: none;
}
body {
	background-color: #333;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* mobile viewer */
@media only screen and (max-width: 1300px) {
	/* Three image containers (50% for two, 33.33% for 3, use 25% for four, etc) */
	.column {
		float: left;
		width: 100%;
		padding: 15px; /* was 5*/
	}
	img {
	width : 60%;
    height: auto; /*to preserve the aspect ratio of the image*/
	}
  }

.button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  padding: 5px 30px;
  width: 175px;
  height: auto;
  font-size: 18px;
  font-style: italic;
}
.button:hover {
	background-color: #222;
	transform: translateX(2px) translateY(2px);
}

/*Navigation Bar*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: rgb(37, 49, 41);
	overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: rgb(242, 242, 242);
	text-align: center;
	padding: 5.5px 5.5px;
	text-decoration: none;
	font-size: 16px;
}
/* Change the color of links on hover */
.topnav a:hover {
	background-color:rgba(47, 87, 52, 0.562);
}
.topnav a.selected {
	background: rgb(47, 87, 52);
}
* {
	box-sizing: border-box;
}

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(37, 49, 41);
   color: white;
   text-align: center;
}

/*for social media links in footer*/
.fa {
	padding: 10px;
	font-size: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  .fa:hover {
    opacity: 0.7;
}