body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333; /* Dark gray background color */
  color: #fff; /* White text color */
}

h1 {
  color: #007bff; /* Blue header color */
}

#random-text {
  color: #007bff; /* Blue color for random text */
}

#filter-buttons {
  margin: 20px;
}

.filter-button {
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.filter-button:focus {
  outline: none;
}

.filter-button:hover {
  background-color: #0056b3; /* Lighter blue on hover */
}

#program-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.program-item {
  background-color: #444; /* Darker gray background for program items */
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 200px;
  border-radius: 10px;
}

.program-item img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.program-item a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
}

#search-bar {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  background-color: #555; /* Slightly darker gray for the search bar */
  color: #fff;
}

/*Navigation Bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(34, 34, 34);
}
.topnav a.selected {
  background: rgb(34, 34, 34);
}
* {
  box-sizing: border-box;
}
